extends layout

block content
  div(id='entry')
    form(action="/search" method="get")
      input(type='text' id='city' name='city' placeholder='enter city name')
      input(type='submit' id='city-submit' class='btn' value='find a cafe')
