doctype html
html
  head
    title Coffee Snob
    meta(charset='utf-8')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:100')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/search.css')
  body
    header
      div(class='top-bar-wrap')
        div(class='title-wrap')
          h1 COFFEE SNOB
          h3(class='sub-title') support local businesses
        div(class='link-container')
          if loggedIn == false
            button(class="header-btn" id="log-in-btn") log in
          else
            p Welcome #{userName}
          if loggedIn === false
            button(class="header-btn" id="signup-btn") sign up
          else
            button(class="header-btn" href='/') log out
    main
      form(action='/users' method='post' id='login-form' class='user-form')
        input(type='text' name='user_name' placeholder='user name' class='user-form-input')
        input(type='text' name='password' placeholder='password' class='user-form-input')
        input(type='submit' value='log in' class='user-form-submit')
      form(action='/users/new' method='post' id='signup-form' class='user-form')
        input(type='text' name='user_name' placeholder='user name' class='user-form-input')
        input(type='text' name='email' placeholder='email address' class='user-form-input')
        input(type='text' name='password' placeholder='password' class='user-form-input')
        input(type='submit' value='sign up' class='user-form-submit')
      div
        block content
    footer
      small &copy Kendra Lyndon 2016
      a(href='google.com') about
      a(href='google.com') contact us
    script(src="https://code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous")
    script(type='text/javascript' src='javascripts/effects.js')
    script(type='text/javascript' src='javascripts/map.js')
    script(type='text/javascript' src='javascripts/coffee-validators.js')
    script(type='text/javascript' src='javascripts/coffee-details.js')
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7YK-CrY9fCRFg7GhYoX-WpRO97zoOAYQ&callback=addMap&libraries=places")
