/*color scheme :
dark brown (text only) : #713D1A
brown : #59261B
greyish : #D8D9D0
off-white : #F2F2F2
brighter purpley : #B2417A
purpley : #8C5A67
purple-grey : #8C7474 */

#map {
  width: 65vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

#city-input {
  display: none;
}

.info-window, .info-window > p {
  color: black;
}

#info{
  padding-left: 15px;
  padding-right: 15px;
  width: 510px;
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #f2f2f2;
  overflow-y: auto;
  box-shadow: 4px 0px 15px 4px #33190B;
}

#selected-cafe-container {
  margin-top: 15px;
}

.svg {
  display: inline-block;
  background-size: contain;
  width: 15px;
  height: 15px;
}

.phone-svg {
  background-image: url("../images/phone-receiver.svg");
}

.address-svg {
  background-image: url("../images/location-pin.svg");
}

.web-svg {
  background-image: url("../images/internet.svg");
}

.hours-svg {
  background-image: url("../images/clock.svg");
}

.cafe-detail {
  display: inline-block;
  margin-left: 10px;
}

.cafe-container {
  border: 2px solid #B2417A;
  margin-bottom: 15px;
  padding: 10px;
}

.best-cafes-title {
  text-align: center;
}

.best-cafe-hours {
  margin-bottom: 0;
}

.best-cafe-name {
  margin-top: 0;
}

ul {
  list-style: none;
}
