/*color scheme :
dark brown (text only) : #713D1A
brown : #59261B
greyish : #D8D9D0
off-white : #F2F2F2
brighter purpley : #B2417A
purpley : #8C5A67
purple-grey : #8C7474 */

#map {
  width: 65vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.info-window, .info-window > p {
  color: black;
}

#info{
  width: 510px;
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #D8D9D0;
  overflow-y: auto;
  box-shadow: 4px 0px 15px 4px #33190B;
}

#selected-cafe-container {
  padding-left: 20px;
  padding-right: 20px;
}

#city-input{
  display: none;
}

#view {
  width: 100%;
  height: 50%;
  background-color: white;
  overflow: scroll;
}

#results {
  width: 100%;
  height: 50%;
  background-color: grey;
  overflow: scroll;
}
