$darkbrown: #713D1A;
$brown: #59261B;
$greyish : #D8D9D0;
$off-white : #F2F2F2;
$bright-purpley : #B2417A;
$purpley : #8C5A67;
$purple-grey : #8C7474;

.fav-title {
  text-align: center;
  font-size: 45px;
  color: $darkbrown;
}

.all-favorites {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.favorite {
  border: 2px solid $bright-purpley;
  display: inline-block;
  margin: 15px;
  vertical-align: top;
  height: 260px;
  width: 400px;
  position: relative;
  border-radius: 3px;
}

.fav-name {
  padding: 10px;
  width: 100%;
  background-color: $purple-grey;
  font-size: 30px;
  color: $off-white;
}

.detail-container {
  margin-bottom: 8px;
}

.favorite-details {
  padding: 15px;
}

.fav-svg {
  vertical-align: top;
}

.favorite-detail {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 0;
  vertical-align: bottom;
}

.fav-remove {
  border: none;
  color: $off-white;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: $purple-grey;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.fav-web {
  width: 330px;
  overflow: auto;
}

@media (max-width: 440px){
  .all-favorites {
    width: 100vw;
  }
  .favorite {
    width: 100vw;
    margin-left: 0;
  }
}
